@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: all 200ms ease;
}

:root {
  --white: #ffffff;
  --light-white: #ffffffeb;
  --black: #000000;
  --vert: #688144;
  --light-vert: #799553ac;
  --other-green: #79955360;
}

/************ MORGANE ************/

.top-logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 100px;
  width: 100px;
  display: block;
  margin: 10px 0;
}

.title {
  text-decoration: none;
  color: var(--black);
  margin: 15px 0;
  font-family: "Meow Script";
  font-weight: 500;
}

/*** NAVBAR ***/
nav {
  background-color: var(--vert);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

/*** HERO IMAGE ***/
.hero_img {
  background-image: url(../images/background-toast.jpg);
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_img h1 {
  color: var(--vert);
  background-color: var(--light-white);
  padding: 10px 30px;
  border: 2px solid var(--vert);
}

/******* FOOTER *******/

ul li {
  list-style-type: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

footer {
  background-color: var(--light-vert);
  padding: 30px 0;
}

h4 {
  font-size: 25px;
  color: var(--white);
}

i {
  font-size: 30px;
}

footer p {
  text-align: center;
  color: var(--white);
}

.social_media {
  margin-top: 12px;
  color: var(--vert);
  display: flex;
  justify-content: space-between;
}

.lorem li {
  color: var(--vert);
}
/************ MORGANE ************/

/************ EMMY ************/

.container-recette {
  max-width: 1200px;
  margin: 50px auto;
}

.container {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.box-icon-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 350px;
  text-align: center;
  border-style: solid;
  border-color: var(--vert);
  padding: 50px 25px;
}

.etapes-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px 0;
}

.fa-solid {
  color: var(--vert);
}

.salade img {
  width: 150px;
  margin-bottom: 10%;
}

.logo {
  flex-wrap: wrap;
  justify-content: center;
}

.recette {
  display: flex;
  background-color: white;
  margin-top: 10%;
}

.recettesalade {
  color: black;
  text-align: left;
  width: 60%;
}

.salade {
  width: 40%;
}

.salade img {
  border-radius: 50%;
  border: solid 2px var(--vert);
  width: 100%;
}

h3,
h2 {
  color: var(--vert);
}

/************ EMMY ************/

/************ SIHEM ************/

/*galerie*/

.galerie-container {
  display: grid;
  justify-content: center;
  margin: 50px 0;
}

.galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px 25px;
  grid-template-areas:
    "food1 food2 food3"
    "food4 food5 food6"
    "food7 food8 food9"
    "food10 food11 food12";
}

.galerie img {
  cursor: pointer;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 200ms ease;
}

.galerie img:hover {
  transform: scale(1.05);
}

.food1 {
  grid-area: food1;
}

.food2 {
  grid-area: food2;
}

.food3 {
  grid-area: food3;
}

.food4 {
  grid-area: food4;
}

.food5 {
  grid-area: food5;
}

.food6 {
  grid-area: food6;
}

.food7 {
  grid-area: food7;
}

.food8 {
  grid-area: food8;
}

.food9 {
  grid-area: food9;
}

.food10 {
  grid-area: food10;
}

.food11 {
  grid-area: food11;
}

.food {
  grid-area: food12;
}

/*tablette / 2 columns*/
@media screen and (max-width: 1120px) {
  .galerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "food1 food2"
      "food3 food4"
      "food5 food6"
      "food7 food8"
      "food9 food10"
      "food11 food12";
  }
}

/*tablette / 2 columns*/

/*phone / 1 column*/
@media screen and (max-width: 750px) {
  .galerie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "food1"
      "food2"
      "food3"
      "food4"
      "food5"
      "food6"
      "food7"
      "food8"
      "food9"
      "food10"
      "food11"
      "food12";
  }
}

/*phone / 1 column*/

/*galerie*/

/*contact*/

.contact-container {
  max-width: 1200px;
  margin: 50px auto;
}

.location-contact {
  display: flex;
}

.contact-container p {
  font-size: 15px;
}

.informations-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 58px;
}

.title-contact h3 {
  font-size: 30px;
  font-weight: 500;
}

.title-contact hr {
  width: 350px;
  color: var(--vert);
  border-radius: 15px;
}

.text-info {
  margin: 18px 0;
  color: var(--light-vert);
}

.phone {
  display: flex;
  align-items: center;
}

.phone i {
  font-size: 35px;
  color: var(--vert);
}

.lieu {
  margin-top: 15px;
  font-weight: 500;
}

.text-phone {
  margin-left: 22px;
}

.text-phone h4 {
  font-size: 20px;
  font-weight: 500;
}

.text-phone p {
  color: var(--vert);
}

/*formulaire de contact*/

.form-contact {
  margin: 80px auto;
}

.us {
  background-color: var(--other-green);
  color: var(--vert);
  border-radius: 10px;
  padding: 5px 18px;
  width: fit-content;
}

.top-title-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-title-form h2 {
  margin: 12px 0;
}

.formulaire-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
}

.formulaire-contact input,
textarea {
  background-color: var(--other-green);
  border-radius: 10px;
  padding: 15px 20px;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  resize: none;
}

button {
  cursor: pointer;
  background-color: var(--vert);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
}

.flex-input {
  justify-content: space-around;
  display: flex;
  width: 100%;
  gap: 22px;
}

.marge {
  margin: 20px 0;
}

.flex-input input {
  width: 100%;
}

.input {
  width: 50%;
}

.flex-input textarea {
  width: 100%;
  height: 150px;
}

/*formulaire de contact*/

/*contact*/

/************ SIHEM ************/
