@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --vert: #688144;
}

/************ MORGANE ************/
/********** HEADER ********** /
/*** LOGO ***/

header img {
  height: 100px;
  width: 100px;
  display: block;
  margin: 10px auto;
}

header h1 {
  text-align: center;
  text-decoration: none;
  color: var(--black);
  margin-bottom: 5px;
  font-family: "Meow Script";
  font-weight: 500;
}

/*** NAVBAR ***/
nav {
  background-color: var(--vert);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

/*** HERO IMAGE ***/
.hero_img {
  background-image: url(../images/background-toast.jpg);
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;
  height: 500px;
  width: 100%;
}

/******* FOOTER *******/
footer {
  background-color: var(--vert);
  height: auto;
  padding-bottom: 5px;
}

h4 {
  color: var(--white);
}

i {
  font-size: 30px;
}
.container_social_media {
  padding: 20px;
  gap: 5px;
}

.social_media {
}

p {
  text-align: center;
  color: var(--white);
}

/************ EMMY ************/

/************ EMMY ************/

/************ SIHEM ************/

/************ SIHEM ************/